{% extends 'base.html' %}

{% block content %}
<div id="home" class="row">
	<div id="home-info">
		<div class="col-md-4 third"></div>
		<div class="col-md-4 third"></div>
		<div class="col-md-4"></div>
	</div>
	<div id="home-bottom-bar" >
		<div class="col-md-4 third medio"><a href="/registro/">Crea tu usuario</a></div>
		<div class="col-md-4 third medio"><a href="/registroBanda/">Crea tu banda</a></div>
		<div class="col-md-4 third-medio"><a href="/registroEvento/">Crea tu evento</a></div>
	</div>


</div>

	
{% endblock content %}