{% extends 'userbase.html' %}
{% load staticfiles %}

{% block content %}

<div class="row" id = "pagina">
	<div class="col-md-8 ">
		<div id="contenedor-lista-a">
		<ul class="nav nav-pills nav-stacked" id="search-results"> 

		</ul>
		</div>

	</div>
	<div class="col-md-4" id="barra-perfil-lateral">

		<div id = "imagen-perfil-container">
			<img src="{% static musiclover.us_picture %}">
		</div>
		<button id="boton-imagen">cambiar imagen</button>
		<div class="cambio-imagen">
			<form id="form-cambio-imagen" action="imagechange/" method="POST" enctype="multipart/form-data">{% csrf_token %}
				<input type="file" name="us_picture" id="id_us_picture">
				<input type="submit" name="submit" value="cambiar" />
			</form>
		</div>
		<div id = "user-info">

		<div id="user-info-content">

		<p class="content-user-info2">
			<label>{{user.first_name}}</label>
			<label> {{user.last_name}} </label>
		</p>


		<p class="content-user-info1">
			<label> {{user.username}} </label>
		</p>
	</div>

		</div>



	</div>



</div>

{% endblock content %}