{% load staticfiles %}

.topbar-widget
{
	background-color: #D9D9D9;
	height: 100px;
	border-bottom-width: 5px;
	border-bottom-style: outset;
	border-color: #D9D9D9;
	text-align: left;
}

#login-info
{
	margin-top: 35px;
	font-size: 12pt;
}


#contentwrapper
{
	height: 100%;
	background-image: url("../images/Homeimage.gif");
	background-repeat: no-repeat;
	background-size: 100%;

}

@font-face
{
	font-family: "Billabong";
	src: url("../fonts/billabong.ttf") format("truetype");

}

span#Rockfont
{
	font-family: "Billabong", sans-serif;
	font-size: 50pt;
	font-weight: bold; 
	margin-left: 200px;

}

p#rockfont1
{
	font-family: "Billabong", sans-serif;
	font-size: 20pt;
	font-weight: bold; 
	color:white;
	margin-left: 300px;


}

#signup-container form label
{
	font-family: "Billabong", sans-serif;
	font-size: 16pt;
}

#home
{
	border-style: outset;
	border-width: 5px;
	border-radius: 25px;
	margin-left: 100px;
	margin-top: 100px;
	width: 85%;
	height: 70%;
	background-color: #D9D9D9;
}

#home-info
{
	height: 85%;
	border-bottom: solid;
	border-width: 3px;
	border-color: #FF9A03;
}
#home-bottom-bar
{
	height: 15%;
}

.third
{
	height: 100%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
}

.prueba
{
	width: 100%;
	height: 50px;
	background-color: black;

}

.particion
{
	height: 50px;
	width: 100%;
	padding-left: 40%;

	

}
#pagina{
	width: 100%;
	height: 100%
}

#barra-perfil-lateral{
	height: 100%;
	background-color:#ffffff;
  	border-right:1px solid black;
  	opacity: 0.6;

}

#imagen-perfil-container{
	margin-left: 10%;
	margin-top: 4%;
	margin-right: 3.5%;
	height: 37%;
	border:3px outset black;
	border-radius: 70%;
	overflow: hidden;
	margin-bottom: 10%;
	height: 300px;


}

#imagen-perfil-container img{
	width: 100%;
	height: 100%;
}

#user-info-content
{
	width: 100%;
	height: 100%;
	padding-top: 5%;
	padding-left: 10%;
}
.content-user-info1
{
	width: 100%;
	height: 20%;
	margin-left: 30%;
	font-size: 20pt;
}
.content-user-info2
{
	width: 100%;
	margin-left: 17%;
	height: 10%;
	font-size: 20pt;
}

/*.medio
{
	padding-left: 10%;
	padding-top: 30%;
}*/

