.nombre-evento
{
	background-color: #000000;
	height: 150px;
	border: 5px solid black;
}

#evento-profile
{
	height: 500px;
	width: 100%;
}

.evento-background
{
	height: 80%;
	background-color: #ffffff;
}
.event-background img
{
	width: 100%;
	height: 100%;
}
.info-evento
{
	float: left;
	display: block;
	font-family: "Billabong", sans-serif;
	font-size: 12pt;
}

@font-face
{
	font-family: "Billabong";
	src: url("../fonts/billabong.ttf") format("truetype");

}
