{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" lan="es">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<!-- Titulo de la pagina -->
		<title>SocialBand - Home</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
			<!-- Hoja de Estilos -->
		
		<script type="text/javascript" src="js/source.js"></script>
			<!-- Script de Compatibilidad -->
		<script type="text/javascript" src="js/modernizr.js"></script>
		<link type="text/css" media="all" href="{% static "css/HomeSB.css" %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static "css/bootstrap3.0/dist/css/bootstrap.min.css" %}" media="all">
		<!--<script src="{% static "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %}"></script>-->
   		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	</head>

	<body>

		<div id="pagewrapper">
			<div id="topbar" class="row">
				<div class="topbar-widget col-md-9" style="border-left-radius: 10px; "> <span id="Rockfont">SocialBand</span></div>
				<div class="topbar-widget col-md-3" style="border-right-radius: 10px; ">
				 </div>


			</div>

			<div id="contentwrapper" class="row">
				{% block content %}

				{% endblock content %}

			</div>

		</div>

	</body>