{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="home" class="row">
	<div id="home-info" class="imagehome">
		<div class="col-md-4 third" >
			<img src="{% static "images/amigos4.jpg" %}"></div>
			
		<div class="col-md-4 third">
			<img src="{% static "images/banda5.jpg" %}"></div>
			
		<div class="col-md-4">
			<img src="{% static "images/Evento6.jpg" %}"></div>
			
	</div>
	<div id="home-bottom-bar" >
		<div class="col-md-4 third medio"><a href="/registro/">Crea tu usuario</a></div>
		<div class="col-md-4 third medio"><a href="/registroBanda/">Crea tu banda</a></div>
		<div class="col-md-4 third-medio"><a href="/registroEvento/">Crea tu evento</a></div>
	</div>


</div>

{% endblock content %}