.nombre-evento
{
	background-color: #000000;
	height: 100px;
	font-family: "Billabong", sans-serif;
	font-size: 25pt;
	color: white;
	padding-left: 30%
}

#evento-profile
{
	height: 500px;
	width: 100%;
}

.evento-background
{
	height: 80%;
}
.event-background img
{
	width: 100%;
	height: 100%;
}
.evento-igual
{
	float: left;
	display: block;
	font-family: "Billabong", sans-serif;
	font-size: 14pt;
}
ul 
{
	margin-top: 100px;
}
.back{
	height: 100%;
}
#contenedor-lista
{
	margin-top: 100px;
	background-color: #ffffff;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

@font-face
{
	font-family: "Billabong";
	src: url("../fonts/billabong.ttf") format("truetype");

}
