.login-box
{
	padding-top: 15px;

	margin-left: 200px;
	margin-top: 50px;
	border-style: groove;
	border-width: 5px;
	border-color: #FFC774;
	background-color: #FF9A03;
	border-radius: 25px;
}

#signup-container
{
	height: 420px;
	width: 600px;
}

#login-id
{
	height: 150px;
	width: 300px;
}

.login-box p
{
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

.login-box p label
{
	width: 90px;
	float: left;
}

.login-box input, .login-box span
{
	float: left;
}

.login-box span.helptext
{
	font-size: 8pt;
}

.login-box input[type="submit"]
{
	clear: left;
	margin-left: 45%;
	margin-top: 1%;
}

